#message {
    width: 30em;
}

.MessageContainer {
    width: 100%;
    height: 200px;
    background-color: #fff;
    border: 1px solid #aaa;
    overflow: scroll;
    font-size: smaller;
}

#close {
    color: #d5dbdb;
}
